<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="style.css">
   <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Experience unique and tasty dish serve from underground." />
 
  <meta name="robots" content="home, follow" />
  <link rel="stylesheet" href="./assests/css/menu.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;1,600&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="icon" type="image/png" sizes="32x32" href="./assests/images/favicon/favicon-32x32.png" />

   
  <title>GujjuFlavor Special</title>



</head>

<body>

  <header class="header">
    <div class="nav container">
      <a class="logo" href="/home">GujjuFlavor</a>
        <marquee width="40%" direction="left" height="100px">
Hello {{naming}} The GujjuFlavor Customer 😎
</marquee>
      <i id="cart-icon" class='bx bx-shopping-bag'></i>

    

      <!-- CART -->
      <div class="cart">
        <h2 class="cart-title">Your Order</h2>

        <div class="cart-content">

        </div>
        <!-- total -->
        <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">₹0</div>
        </div>
        <!-- buy button -->
        <button class="btn-buy" type="button" id="payment"><a href="payment">Pay Now</a></button>
        <!-- cart close -->
        <i id="close-cart" class='bx bx-x'></i>
      </div>

    </div>
  </header>


  <section class="shop container">
    <h2 class="section-title">GujjuFlavor Food Products</h2>

    <div class="shop-content">
      <!-- box 1 -->
  
         <li id="meal" data-name="dinner" >
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img
                  src="https://s3.amazonaws.com/iomedia-s3/media/celebrities/15852/products/screenshot_20201117092628__01__L.jpg"
                  alt="Gujarati Dish" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="meal-title-content">
                    <h2 class="product-title">Regular Gujarati Thali</h2>
                    <span class="price">₹250</span>
                  </div>

                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>34 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Roti or Bhakri,
                  Dal,
                  Shaak/Sabzi ,
                  Rice
                  Farsan ,
                  Papad,
                  Raita ,
                  Salad
                  Sweets/Desserts,
                  Chaas .
                  
                </div>
              
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>



        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img
                  src="https://images.squarespace-cdn.com/content/v1/5f2fa039103c7a08856032c1/1617410038432-RPNZUM15PLGK5X1PFFHB/20210321_161914.jpg"
                  class="product-img"  />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Rajesthali Thali</h2>
                    <span class="price">₹270</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>35 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Rajasthani Missi Roti ,Dal Baati Churma,Gatte Ki Sabzi,Churma Laddoo,Laal Maas.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="https://i.ndtvimg.com/i/2016-04/methi-paratha_625x350_51460966144.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Methi Ka Thepla(/1)</h2>
                    <span class="price">₹25</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>42 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Thepla , Tea , Curd
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>


        <li id="meal" data-name="breakfast">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="https://i.ndtvimg.com/i/2016-02/rava-upma-625_625x350_61454310597.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Rawa Upma</h2>
                    <span class="price">₹75.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>82 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Ground pork, soy sauce, lumpia wrappers, green cabbage,
                  green
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="breakfast">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="https://static.toiimg.com/thumb/53908858.cms?imgsize=247577&width=800&height=800" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Khaman Dhokla (500g)</h2>
                    <span class="price">₹100</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>153 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Khaman Dhokla , Tea , Chutneys
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="breakfast">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="https://pbs.twimg.com/media/DTASr02U0AAw5Jp.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Jalebi Fafada (500g)</h2>
                    <span class="price">₹240.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>113 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Tomato, fat free, green pepper, eggs, green onions,
                  Broccoli, peas, cheddar cheese, carrot.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>






        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/Cappuccino.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Cappuccino</h2>
                    <span class="price">₹155.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>45 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Espresso coffee, cocoa powder, steamed milk, cinnamon stick,
                  sugar.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="desserts">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/pancake-honey.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Pancake With Honey</h2>
                    <span class="price">₹180.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>52 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Egg, All Purpose Flour, Sugar, Honey, Butter, Milk, Vanilla
                  Extract, Cinnamon, Chocolate (additional).
                </div>

              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/Chip-vegetables.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Chips with vegetables</h2>
                    <span class="price">₹145.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>35 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Sweet potato, brussels sprouts, kale, beet, yam, olive oil,
                  salt.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/main_hot_herbal_tea.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Herbal Tea</h2>
                    <span class="price">₹128.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>28 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Roasted dandelion root, roasted chicory root, lemon balm.
                  kola,
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="desserts">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/choco-cupcake.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Chocolate Cupcake</h2>
                    <span class="price">₹35.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>43 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Unsweetened cocoa powder, butter, eggs, baking soda, brown
                  sugar, sour cream, icing sugar.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/vegie-noodles.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Vegies, Fish and Noodles</h2>
                    <span class="price">220.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>65 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Butternut squash, sweet potato, summer squash, zucchini,
                  kohlrabi
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

          <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/curacao.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Blue Curacao</h2>
                    <span class="price">₹35.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>19 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Pineapple juice, blue curacao, sour mix, vodka, simple
                  syrup.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/black-coffee.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Black Coffee</h2>
                    <span class="price">₹105.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>53 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Cold brew coffee, brown sugar, instant coffee, boiling
                  water.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        

        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/dumpling.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Dumplings</h2>
                    <span class="price">₹280.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>93 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Napa cabbage, ground pork, soy sauce, sesame oil, eggs.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="lunch">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/vegetable-salad.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Vegetable Salad</h2>
                    <span class="price">₹450.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>195 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Sun dried tomatoes, pepperoncini peppers, cherry tomatoes,
                  Cabbage, carrots, capsicum.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/chicken-vegie.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Chicken Vegie</h2>
                    <span class="price">₹350.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>121 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Chicken breast, mushroom, soy sauce, brown sugar, sesame
                  oil, Cherry tomatoes.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/water.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Water (500ml)</h2>
                    <span class="price">₹15.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>13 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Water, ice cube (optional)
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/noodles.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Noodles</h2>
                    <span class="price">₹120.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>35 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Sliced pork belly, fresh ramen noodles, noodle soup base,
                  shrimp, fish cakes, shiso leaves.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/blue-margarita.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Blue Margarita</h2>
                    <span class="price">₹104.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>53 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Blue curacao, triple sec, tequila, lime juice, lemon.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/soft-drinks.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Soft Drinks -Any One (500ml)</h2>
                    <span class="price">₹70.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>23 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Coca-cola, Pepsi, Mountain Dew, Sprite, Royal, Diet Mountain
                  Dew, Diet Coke, Dr. Pepper, Coke Zero.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/strawberry-shake.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Stawberry Shake</h2>
                    <span class="price">₹70.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>56 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Frozen strawberries, honey, vanilla extract.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/pasta-meat.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Pasta and Meatballs</h2>
                    <span class="price">₹230.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>154 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Ground beef, pasta, ground pork, red pepper flakes,
                  parmesan, Onion Rings.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/lime-juice.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Lime Juice</h2>
                    <span class="price">₹80.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>45 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Frozen limeade concentrate, lemonade concentrate, lemon lime
                  soda, orange extract.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/chicken-dinner.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Chicken Dinner</h2>
                    <span class="price">₹380.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>241 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Chicken breast, apple cider vinegar, soy sauce, maple syrup,
                  olive oil, green onions, fresh ginger.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/biscuit.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Biscuits</h2>
                    <span class="price">₹120.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>85 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Buttermilk, baking powder, all purpose flour.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/el-diablo.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">El Diablo</h2>
                    <span class="price">₹380.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>285 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  reposado with ginger beer, lime juice, and crème de cassis.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="lunch">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="https://www.lacademie.com/wp-content/uploads/2022/03/indian-lunch-recipes.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Helthy Lunch</h2>
                    <span class="price">₹225.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>258 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  noodles, ginger, ice cubes, dashi stock, enoki mushrooms,
                  mentaiko, spicy, Pork.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="breakfast">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/toast-bread-egg.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Toast Bread and Egg</h2>
                    <span class="price">₹120.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>123 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Bacon grease, egg, , bread, black pepper, cheddar cheese,
                  butter, cucumber, green onions.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="lunch">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/Vegetable-Spaghetti.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Vegetable Spaghetti</h2>
                    <span class="price">₹350.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>183 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Spaghetti, zucchini, frozen green peas, parmesan cheese,
                  carrots, broccoli, pearl onions, Spinach.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="desserts">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/cake.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Cake</h2>
                    <span class="price">₹200.00 - ₹1,250.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>353 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Cake flour, powdered sugar, milk, eggs, baking soda, vanilla
                  extract, cream cheese, toppings (additional).
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="lunch">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="https://www.indianhealthyrecipes.com/wp-content/uploads/2022/04/mango-rice-recipe.jpg"
                  class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Mango Rice</h2>
                    <span class="price">₹250.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>216 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Pork belly, garlic, Soy sauce, vinegar, bay leaves, white
                  sugar, spring onion, lime, Egg (optional).
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/vegetables.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Vegetables</h2>
                    <span class="price">₹150.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>343 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Turnip greens, sweet potatoes, mustard greens, Cauliflower,
                  cabbage, bean, carrot, olive oil.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="lunch">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/meat-skewer.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Meat Skewer</h2>
                    <span class="price">₹280.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>253 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Sirloin tips, green bell peppers, brown sugar, Strip steak,
                  red wine, teriyaki sauce, steak seasoning yukon.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/martini.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Martini</h2>
                    <span class="price">₹350.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>352 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Gin, olives, dry vermouth, olive brine, lemon twist.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="dinner">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/chopped-vegie.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Chopped Veggie Salad</h2>
                    <span class="price">₹230.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>122 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Sweet potato, pine nuts, baby red rascal, wholegrain
                  mustard, Lemon pepper, bell pepper, tomatoes.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/burger-fries.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Burger and Fries</h2>
                    <span class="price">₹120.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>153 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Ground beef, french fries, peppers, sesame seeds, butter,
                  brie cheese.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/juice.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Juice</h2>
                    <span class="price">₹45.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>25 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  cranberry juice, tomato juice, Beet juice, apple juice,
                  prune juice, Pomegranate juice.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="desserts">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/ice-cream.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Ice Cream</h2>
                    <span class="price">₹75.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>85 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Vanilla, Chocolate, Cookies N' Cream, Strawberry, Buttered
                  Pecan, Mint Chocolate Chip.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="lunch">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img
                  src="https://www.chefkunalkapur.com/wp-content/uploads/2021/03/veg-biryani-scaled.jpeg?v=1618288847"
                  class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Veg Biryani | Vegetable Biryani.</h2>
                    <span class="price">₹180.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>85 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Pound pork, Oyster sauce, napa cabbage, mushroom soy sauce,
                  bean sprouts, dried sage leaves.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/tea.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Rooibos Tea</h2>
                    <span class="price">₹45.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>85 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Hibiscus tea bags, rooibos tea bags, red grapefruit juice,
                  frozen.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="lunch">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/vegie-salads.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Mixed Vegetable Salad</h2>
                    <span class="price">₹180.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>132 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Green beans, hard boiled, queso fresco, red onion, Artichoke
                  hearts, Tomato, bell peppers.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="breakfast">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/bread-toast-egg.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Bread Toast and Egg</h2>
                    <span class="price">₹120.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>122 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Brown bread, tomato, butter, green chilies, egg.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/popcorn.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Popcorn</h2>
                    <span class="price">₹40.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>32 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Coconut oil, butter, popcorn kernels.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/almond-nuts.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Almond Nuts</h2>
                    <span class="price">₹150.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>59 reviews</span>
                    </div>
                  </div>
                  <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
                </div>
                <div class="meal-content-bottom">Olive oil.</div>
              </div>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/bread.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Bread</h2>
                    <span class="price">₹35.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>25 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Bread flour, cornmeal, cool, instant yeast, sugar.
                </div>
              </div>
             <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/peanut.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Peanut</h2>
                    <span class="price">₹25.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>42 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  peanuts, sunflower oil, salt.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="breakfast">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/pancake.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Pancake with Syrup</h2>
                    <span class="price">₹50.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>142 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Maple syrup, butter, eggs, baking powder, vanilla extract,
                  sugar.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/whiskey.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Whiskey</h2>
                    <span class="price">₹120.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>342 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  whiskey, lemon, and orange bitters, crushed ice.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="desserts">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/chocolate-cake.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Chocolate Cake</h2>
                    <span class="price">₹80.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>112 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Unsweetened cocoa powder, eggs, baking soda, baking powder,
                  all purpose flour.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/pizza-roll.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Pizza Roll</h2>
                    <span class="price">₹130.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>118 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Pizza dough, honey, pizza sauce, mozzarella cheese,
                  parmesan.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/creme-caramel.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Creme Caramel</h2>
                    <span class="price">₹180.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>168 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Vanilla bean, heavy cream, whipped cream, egg.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/waffle.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Waffle With Cream</h2>
                    <span class="price">₹130.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>86 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Malted milk, heavy cream, eggs, baking soda, baking powder.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="breakfast">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/fried-rice.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Fried Rice</h2>
                    <span class="price">₹50.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>51 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Oyster sauce, soy sauce, grain white rice, toasted sesame
                  oil, spring onion, garlic, white pepper.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="lunch">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/meat-rice.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Meat Balls and Rice</h2>
                    <span class="price">₹180.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>191 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Rice, Ground beef, ground pork, ground veal, italian bread,
                  olive oil.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/margarita.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Margarita</h2>
                    <span class="price">₹150.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>241 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Grand marnier, simple syrup, ice, lime juice, silver
                  tequila.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="drinks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/beer.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Beer</h2>
                    <span class="price">₹230.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>61 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Oktoberfest, German Schwarzbier, Vienna Lager, Doppelbock,
                  Weizenbock, American Brown Ale.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/chips-cream.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Chip Dip</h2>
                    <span class="price">₹80.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>21 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Sour cream, dried dill weed, mayonnaise, garlic salt,
                  minced.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="breakfast">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/tomato-egg.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Tomato Egg</h2>
                    <span class="price">₹60.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>11 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Sesame oil, ginger, diced tomatoes, rice wine, ketchup.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>

        <li id="meal" data-name="snacks">
          <span>
            <div class="product-box">
              <div class="meal-image">
                <img src="./assests/images/menu/menu/cookies.jpg" class="product-img" />
              </div>
              <div class="meal-content">
                <div class="meal-content-top">
                  <div class="product-title-content">
                    <h2 class="product-title">Cookies</h2>
                    <span class="price">₹30.00</span>
                  </div>
                  <div class="meal-review">
                    <div class="meal-star">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="meal-review-text">
                      <span>31 reviews</span>
                    </div>
                  </div>
                </div>
                <div class="meal-content-bottom">
                  Brown sugar, dark chocolate chunk, egg, baking soda.
                </div>
              </div>
              <i class='bx bx-shopping-bag add-cart'> Add Cart</i>
            </div>
          </span>
        </li>


      
    </div>

  </section>


     <script src="./assests/js/menu.js"></script>

    
</body>
</html>